@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'main';
    font-style: normal;
    font-weight: normal;
    src: local('main'), url('./public/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2') format('woff2');
  }